
.button {
  text-decoration: none;
  color:rgba(99, 98, 140, 1);
  background-color:white ;
  cursor: pointer;
  transition: 0.5s;
  font-size: 30px;
  margin-left: 5px;
  
  
}

.button:hover {
  cursor: pointer;
  background-color:rgb(99,98,140);
  color: rgb(255, 255, 255);
}

