
.Check {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    text-align: center;
    text-align: justify;
  }

  .form .email{
    width: 100%;
    margin: 15px 0;
    border: none;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 15px;
  }
  .form .button1{
    background-color: #9291af;
    width: 100%;
    padding: 5px;
    color: #fff;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
  }

  
  .image-container {
    text-align: center;
  }
  

  